h1{
	color: #DB4719;
}

h3{
	color: #0D16A0;

}
p{

  font-family: "Times New Roman", Times, serif;
  font-style: italic;

}
.c1{

	color: white;
	font-weight: bold;
	padding: 20px;
	border: red 5px solid;
	background-color: black;
	margin: 5px 10px;

}
.c3{
	color: green;
}

.container{
	width: 80%;
	margin: auto;
}
		a{
			text-decoration-line: none; 
		}
		a:hover{
			color:red;
		}

		a:active{
			color:yellow;
		}
		a:visited{
			color: black;
		}
.c4{
	border: 2px red solid;
	border-radius: 15px;
}
.c4 li{
	padding-bottom: 7px;
	border-bottom: red 6px dotted;
}
.c4 ul{
	list-style-image: url('Images/nat.jpg');

}